*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1C6DD0;
}

.container{
    background-color: #ffffff;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 10px;
}
.timer-display{
    position: relative;
    width: 92%;
    background: #ffffff;
    left: 4%;
    padding: 40px 0;
    font-family: 'Roboto mono',monospace;
    color: #0381bb;
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.buttons{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    width: 120px;
    height: 45px;
    background-color: #1597E5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 9px #999;
}

#pause:hover{
    background-color: #0381bb;
}
#pause:active{
    box-shadow: 0 2px #666;
  transform: translateY(2px);
}
#start:hover{
    background-color: #3FA796;
}
#start:active{
    box-shadow: 0 2px #666;
  transform: translateY(2px);
}
#reset:hover{
    background-color: #DD4A48;
}
#reset:active{
    box-shadow: 0 2px #666;
  transform: translateY(2px);
}


.buttons button:nth-last-child(2){
    background-color: #17D7A0;
}

.buttons button:nth-last-child(1){
    background-color: #F90716;
}


